
img {
  display: block;
  max-width: 100%;
}
.galeria {
  /*padding-right: 10%;
  padding-left: 10%;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria__item {
  width: 80%;
  cursor: pointer;
  list-style:none;
}
@media (min-width:200px) {
  .galeria__item {
    width: 30%;
    margin: 5px;
  }
}
@media (min-width:1024px) {
  .galeria__item {
    width: 20%;
    margin: 15px;
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__img {
  width: 70%;
  max-width: 700px;
}

.modal__boton {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}